.calculator {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-left: 25%;
  width: 70%;
}

.calc-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 50vh;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: repeat(5, 13vh);
  margin-left: 10%;
}

.calc-output {
  display: flex;
  background-color: rgb(156, 154, 154);
  height: 13vh;
  font-size: 40px;
  width: 79%;
  margin-left: 15.5%;
}

.calc-result {
  margin-top: 7%;
  font-size: 35px;
  color: white;
  width: 100%;
  text-align: right;
}

#zero {
  grid-column: span 2;
}

.logic-operators {
  background-color: #f5913e;
}

button {
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  border: 1px solid lightgray;
}

.calc-page {
  display: flex;
  flex-direction: row;
}

.math-state {
  margin-top: 10%;
  font-size: 4.8vh;
  width: 30%;
}

body {
  background-color: rgb(24, 65, 63);
  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(149, 199, 69);
  font-family: sans-serif;
}
